 
/* **************************************************section-2************************************** */
#mainpart{
    width: 100%;
    box-shadow: rgba(88, 87, 87, 0.35) 0px -50px 36px -28px inset;
}

 #box1{
width: 80%;
height: auto;
margin: auto;
/* border: 1px solid red; */
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin-top: 50px;

}

.smallbox11{
  display: flex;
  justify-content: space-between;
  
  font-size: 20px;
  /* border: 1px solid green; */
  font-weight: bold;
  color: rgb(59, 143, 177);
  padding-top: 15px;
}
.smallbox1{
  display: flex;
  
  margin: auto;
  gap: 15px;
  
}
.smallbox1>div>img{
  width: 100%;
  height: 80%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  
}
.smallbox1>div>img+p{
  text-align: center;
  margin: auto;
  color: rgb(189, 177, 177);
  margin-top: 5px;
}

#box2{
width: 80%;
height: auto;
margin: auto;
/* border: 1px solid red; */
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin-top: 50px;
}
.smallbox22{
  display: flex;
  justify-content: space-between;
  
  font-size: 20px;
  /* border: 1px solid green; */
  font-weight: bold;
  color: rgb(65, 150, 184);
  padding-top: 15px;
}
.smallbox2{
  display: flex;
  
  margin: auto;
  gap: 15px;
}
.smallbox2>div{
  width: 22%;
  height:auto;
}
.smallbox2>div>img{
  width: 100%;
  height: 70%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  
}
.smallbox2>div>img+h3+p{
  text-align: center;
  margin: auto;
  color: rgb(189, 177, 177);
}
.smallbox2>div>img+h3{
  text-align: center;
  margin: auto;
  color: rgb(189, 177, 177);
  margin-top: 5px; 
}

#box3{
width: 80%;

margin: auto;
/* border: 1px solid red; */
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin-top: 50px;

}
.smallbox33{
  display: flex;
  justify-content: space-between;
  
  font-size: 20px;
  /* border: 1px solid green; */
  font-weight: bold;
  color: rgb(52, 144, 180);
  padding-top: 15px;
}
.smallbox3{
  display: flex;
  /* border: 1px solid red; */
  margin: auto;
  gap: 15px;
  height: 250px;
}
.smallbox3>div{
  width: 22%;
  height: auto;
}
.smallbox3>div>img{
  width: 100%;
  height: 80%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  
}
.smallbox3>div>img+p{
  text-align: center;
  margin: auto;
  color: rgb(189, 177, 177);
  margin-top: 5px;
 
}

#box4{
width: 80%;

margin: auto;
/* border: 1px solid red; */
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin-top: 50px;
}
.smallbox44{
  display: flex;
  justify-content: space-between;
  
  font-size: 20px;
  /* border: 1px solid green; */
  font-weight: bold;
  color: rgb(61, 159, 197);
  padding-top: 15px;
}
.smallbox4{
  display: flex;

  margin: auto;
  gap: 15px;
  
}
.smallbox4>div{
  width: 22%;

}

.smallbox4>div>img{
  width: 100%;
  height: 80%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  
}
.smallbox4>div>img+p{
  text-align: center;
  margin: auto;
  color: rgb(189, 177, 177);
  margin-top: 5px;
}
  /* **************************************section-3************************************ */
  #mainbox{
    width: 80%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 100px;
  }
  #mainbox>h1{
      text-align: center;
      color: rgb(90, 88, 88);
  }#mainbox>h1+div{
      display: flex;
      width: 35%;
      /* border: 1px solid yellow; */
      margin: auto;
      color: rgb(146, 141, 141);
  }
  #mainbox>div>img{
      width: 50%;
  }
  #mainbox>h2{
      text-align: center;
      color: rgb(143, 138, 138);
      margin-bottom: 50px;
  }
  #Mbox1{
      display: flex;
      /* border: 1px solid purple; */
      margin: auto;
      text-align: center;
      color: rgb(163, 152, 152);
  }
  #Mbox1>div{
      width: 22%;
      margin: auto;
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
      border-radius: 15px;
  }
  #Mbox1>div>h3{
      margin-bottom:-10px ;

  }
  #mainbox>h3{
      text-align: center;
      color: rgb(143, 135, 135);
      margin-top: 80px;
      margin-bottom: 70px;
      
  }
  button{
      padding: 2px 80px 2px 80px;
      display: block;
      margin: auto;
      background-color: red;
      border: transparent;
      border-radius: 10px;
      color: white;
      margin-bottom: 80px;
  }
  .M{
    display: block;
    width: 100%;
    margin-bottom: 70px;
  }
  #Image{
      width: 100%;
      /* border: 1px solid red; */
    background-color: rgb(233, 233, 241);


  }
  #Image>img{
      margin: auto;
      display: block;
    
  }
  




